.cell {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.resistor {
    --color: red;

    background-color: var(--color);
    display: block;
    height: 80%;
    width: 50%;
    border-radius: 5px;
}

