.demoWrapper {
    width: 110%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .demoWrapper {
        width: 180%;
    }
}

@media screen and (max-width: 640px) {
    .demoWrapper {
        width: 250%;
    }
}

.gridWrapper {
    width: 100%;
    margin: auto;
}
